body {
  font-family: poppins;
}

h1,
h2,
h3 {
  color: #0f3057;
  font-weight: bolder;
  text-align: center;
}
h1 {
  font-size: 30px;
  margin: 70px 0 20px 0;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 30px;
  margin: 60px 0 20px 0;
}

h3 .temperature {
  color: #008891;
  font-size: 60px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 3;
}

a {
  text-decoration: none;
}

form .form-control:focus {
  border-color: #0f3057;
  box-shadow: none;
}

button:focus {
  outline: none;
}
.weather-app-wrapper {
  max-width: 800px;
  margin: 20px auto 40px;
}

.weather-app {
  border: 1.5px solid #0f3057;
  border-radius: 10px;
  margin: 30px auto;
  padding: 50px 50px 0;
  max-width: 800px;
  background-image: url(https://i.pinimg.com/564x/7c/97/47/7c97471a1ecff173e7f241c9110ad029.jpg);
  background-size: 800px;
}

.search-box {
  padding-right: 0;
  margin-left: auto;
}

.search {
  border: none;
  border-top: 1.5px solid #0f3057;
  border-left: 1.5px solid #0f3057;
  border-bottom: 1.5px solid #0f3057;
  border-radius: 4px 0px 0px 4px;
}

.submit-box {
  padding-left: 0;
  margin-right: 50px;
}

.submit {
  border: none;
  border-top: 1.5px solid #0f3057;
  border-right: 1.5px solid #0f3057;
  border-bottom: 1.5px solid #0f3057;
  border-radius: 0px 4px 4px 0px;
}

current-location-button {
  display: inline-block;
  color: white;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border-radius: 30px;
  background-color: #008891;
  border-color: #008891;
  border: 1px solid transparent;
  padding: 8px 12px;
  font-size: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

current-location-button:hover {
  background-color: #00587a;
  border: 1px solid transparent;
  cursor: pointer;
}

.today {
  margin: 60px 70px;
  font-size: 20px;
  color: #0f3057;
  font-weight: bolder;
  text-align: center;
}

.sun-icon {
  color: orange;
  font-size: 20px;
}

.snowflake-icon {
  color: turquoise;
  font-size: 20px;
}

.cloud-sun-icon {
  color: lightslategray;
  font-size: 20px;
}

.rain-icon {
  color: darkblue;
  font-size: 20px;
}

.forecast {
  color: #0f3057;
  font-weight: bold;
  font-size: 25px;
  margin: 30px 0px;
}

.days {
  color: #0f3057;
  font-size: 15px;
  font-weight: bold;
}

.day-1 {
  border-top: 1.5px solid #00587a;
  border-bottom: 1.5px solid #00587a;
  padding: 15px;
}

.day-2 {
  border-bottom: 1.5px solid #00587a;
  padding: 15px;
}

.day-3 {
  padding: 15px;
}
